body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #87ceeb;
}
input {
    width: 50px;
    margin: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    color: #333;
}
button {
    margin: 10px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #add8e6;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
}

